<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Welcome!{% endblock %}</title>

    <style>

        table {
            text-align:center;
        }
        th{
            padding-top:30px;
            padding-bottom:20px;

        }
        td,th,tr{
            padding-left:4px;
            padding-right:35px;
        }

        #im {
            width :25px;
            height:25px;
        }
        #im2{
            width:50px;
            height:37px;
        }

    </style>
</head>
<body>

<div class="tableau">
    <table>
        <thead>
        <tr>
            <th width="120">Nom du joueur</th>
            <th width="120">Nationalité</th>
            <th width="150">Federation</th>
            <th width="150">Date de naissance</th>
        </tr>
        </thead>
        <tbody>
        {% for joueur in joueurs %}
            <tr>
                <td>{{ joueur.nom }}</td>
                <td><img src=" {{ absolute_url(asset('bundles/stageadmin/img/'~joueur.nomPays~'.PNG')) }}"  id="im2"/> {{ joueur.nomPays }}</td>
                <td>{{ joueur.nomFederation }}</td>
                <td>{% if joueur.dateNaiss %}{{ joueur.dateNaiss|localizeddate('long', 'none') }} {% endif %}</td>

            </tr>

        {% endfor %}
        </tbody>
    </table>
</div>


</body>
</html>
