{% extends 'base.html.twig' %}


{% block entete %}
    <p class="flexItem"> {{ 'translate.text1' |trans }}</p>

    <span id="nbFederation" class="flexItem"> {{ variables['nb'] }} <br> {{ 'translate.text2' |trans }} </span>
    <span id="ajouter" class="flexItem"> <form method="POST" action="{{ path('federation_new') }}"> <BUTTON >  +{{ 'translate.btn' |trans }}</BUTTON>  </form>  </span>
{% endblock %}
{% block stylesheet %}
    <style>

        #hr2{
            position:fixed;
            background-color:#ececee ;
            height:2px ;
            width:777px;
            border-style:none;
            margin:-285px;
            right: 33%;
        }
        table {
            text-align:center;
        }
        th{
            padding-top:30px;
            padding-bottom:20px;

        }
        td,th,tr{
            padding-left:4px;
            padding-right:35px;
        }

        .action {
            display:flex;
            flex-direction:column;
        }
        #im {
            width :25px;
            height:25px;
        }
        #im2{
            width:50px;
            height:37px;
        }
        #im3  {

            position:absolute;
            width:30px;
            right:900px;
        }
        #im4 {

            position:absolute;
            width:30px;
            right:850px;
        }

        .pagination {
            display: flex ;

        }
        .pagination li {
            padding:5px 20px 8px 20px ;
            transition: background-color .3s;
            border: 1px outset #bbb1d2;
        }
        .pagination li.active {
            background-color: #333d4b;
            color: white;
            border: 1px solid #7d8892;
        }

        .pagination a:hover {
            padding:8px 10px  ;
            border-radius:12px;
            border-style:inset;
            background-color: #ced7d6;}

    </style>
{% endblock %}


{% block body %}

    <div class="tableau" >

        <table>

            <thead>
            <tr>
                <th  width="200">{{ 'translate.champs1' |trans }}</th>
                <th width="250">{{ 'translate.champs2' |trans }}</th>
                <th width="50">{{ 'translate.champs3' |trans }}</th>
                <th width="50">{{ 'translate.champs4' |trans }}</th>
                <th width="130">{{ 'translate.champs5' |trans }}</th>
                <th width="150">{{ 'translate.champs6' |trans }}</th>
                <th width="60">{{ 'translate.champs7' |trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for federation in federations %}
                <tr>
                    <td ><img id="im2" src="{{ absolute_url(asset('bundles/stageadmin/img/'~federation.nomPays~'.PNG')) }}"/> {{ federation.nomPays }}</td>
                    <td>{{ federation.nom }}</td>
                    <td>{{ federation.sigle }}</td>
                    <td><img src="{{ absolute_url(asset('uploads/'~federation.image)) }}" alt="{{ federation.image }}" id="im2"/> </td>
                    <td>{% if federation.creation %}{{ federation.creation|localizeddate('long','none') }}{% endif %}</td>
                    <td>{{ federation.president }}</td>
                    <td>
                        <div class="ation">
                            <a href="{{ path('federation_delete', { 'id': federation.id }) }}"> <img src="{{ absolute_url(asset('bundles/stageadmin/img/delete.png')) }}"  id="im"></a>

                            <a href="{{ path('federation_edit', { 'id': federation.id }) }}" > <img src="{{ absolute_url(asset('bundles/stageadmin/img/edit.png')) }}"  id="im"></a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="navigation">
            {{ knp_pagination_render(federations) }}
        </div>
    </div>


    <hr id="hr2">

{% endblock %}

{% block search %}
    <div class="searchZone">
       <a  href="{{ path('sandbox_pdfexample') }}" > <img id="im3" src="{{ asset('bundles/stageadmin/img/pdf.png') }}"></a>
        <a  href="{{ path('Excel_print') }}" > <img id="im4" src="{{ asset('bundles/stageadmin/img/excel.png') }}"></a>

        <form action="{{ path('search_filter')}}" method="get" >
        <input type="text" id="search-term" name="search-term" placeholder="{{ 'translate.rech' |trans }}">
        <input id="bouton" type="submit" value="" >
    </form>
    </div>
{% endblock %}